/*           Labels & Progress-bar              */
.label{
    padding: 0.2em 0.6em;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.75em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 3px;
    line-height: 17px;
}
.label-primary{
    background-color: $primary-color;
}
.label-info{
    background-color: $info-color;
}
.label-success{
    background-color: $success-color;
}
.label-warning{
    background-color: $warning-color;
}
.label-danger{
    background-color: $danger-color;
}
.label-default{
    background-color: $default-color;
}
.label-Action{
    background-color: #ef8a17;
}
.label-Classic{
    background-color: #fbb13c;
}
.label-Crime{
    background-color: #472b2b;
}
.label-Drama{
    background-color: #504b43;
}
.label-Fantasy{
    background-color: #8693ab;
}
.label-Horror{
    background-color: #212227;
}
.label-Humor{
    background-color: #c6c013;
}
.label-Mystery{
    background-color: #637074;
}
.label-Mythology{
    background-color: #7dba84;
}
.label-Poetry{
    background-color: #ed9390;
}
.label-Romance{
    background-color: #ef2917;
}
.label-ScienceFiction{
    background-color: #008148;
}
.label-Suspence{
    background-color: #99621e;
}
